@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z3wrqd');
  src:  url('../fonts/icomoon.eot?z3wrqd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z3wrqd') format('truetype'),
    url('../fonts/icomoon.woff?z3wrqd') format('woff'),
    url('../fonts/icomoon.svg?z3wrqd#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-dropdown:before {
  content: "\e910";
}
.icon-arrow-dropup:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-arrow-bottom:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-more:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-top:before {
  content: "\e905";
}
.icon-car:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e907";
}
.icon-event:before {
  content: "\e908";
}
.icon-eye:before {
  content: "\e909";
}
.icon-gps:before {
  content: "\e90b";
}
.icon-nav-left:before {
  content: "\e90c";
}
.icon-nav-right:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-walk:before {
  content: "\e912";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}













